@font-face {
	font-family: 'Etna';
	src: url('../fonts/Etna.woff'),
	url('../fonts/Etna.eot'),
	url('../fonts/Etna.ttf');
	font-weight: normal;
	display: wrap;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	cursor: url(/img/png/pointer.png), auto;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	background-size: 100% 100%;
	background-image: url(/img/png/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

header {
	padding-top: 10px;
	margin-bottom: 60px;
	text-align: center;
}

svg text {
	font-family: 'Etna', sans-serif;
	font-size: 80px;
	height: 100vh;
	stroke: white;
	stroke-width: 1;
	animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill: #02315e;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}

header .title {
	font-family: 'Etna', sans-serif;
	font-size: 20px;
	letter-spacing: 9px;
	margin-top: -65px;
	margin-left: 90px;
	margin-bottom: 20px;
}

header .nav a {
	font-family: 'Etna', sans-serif;
	font-size: 16px;
	text-decoration: none;
	line-height: 28.5px;
	color: white;
	cursor: url(/img/png/link.png), auto;
}

header .nav a:hover {
	color: #02315e;
	transition: all 0.5s ease;
}

header .links {
	display: inline;
	padding: 70px;
}

.main .line {
	width: 360px;
	height: 6px;
	background: #02315E;
	border-radius: 5px;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.main .text {
	font-family: 'Etna', sans-serif;
	font-size: 16px;;
	line-height: 28.5px;
	padding-bottom: 80px;
	background-color: rgba(33, 46, 88, 0.6);
	padding: 30px;
	border-radius: 25px;
	max-width: 500px;
	margin: 0 auto;
}

.footer .kitty {
	max-width: 600px;
	margin: 0 auto;
	margin-top: -130px;
}

.footer .kitty__gif {
	width: 180px;
}

.footer .footer__text p {
	font-family: 'Etna', sans-serif;
	font-size: 18px;
	color: #d86f7f;
	text-align: right;
	position: absolute;
	margin-top: -102px;
	margin-left: 54.5%;
	text-shadow: 1px 1px 1px #000;
}

/* ---MEDIA------------------------------------------------------------------------------------ */

@media screen and (max-width: 425px) {
	
}